<div class = "container">
    <div class="row"></br></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <h1>Hello, Geoff!</h1>
                <p>Here's your sample project. If you don't have an account yet, kindly click register so you can login. Else, please do login so you can explore!</p>
                <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register</a> &nbsp;
                <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
            </div>
        </div>
    </div>
</div>